
html, body {
    min-width: 100%;
    margin: 0%;
    height:100%
        
}
body{
    min-height: 100%;
    min-width: 100%;
}
@font-face
{
    font-family: 'Sparkly';
    src: url('FontdinerdotcomSparkly.ttf');
}
h2, header
{
font-family: 'Sparkly' ;

}
h3
{
font-family: 'Sparkly' ;
display: inline;
font-size: 72px;
color: #A289B0"

}

h4{
    display: inline;

}

a { 
    color: inherit; 
  }

p
{
font-family: 'Franklin Gothic Medium';
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #195DB0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #340B4D;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 1.5cm;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

h5
{
    font-family: Georgia;
}
@font-face
{
    font-family: 'pixel';
    src: url('Pixel Game.otf');
}
h6
{
    margin: 1cm;
   font-family: pixel;
}